@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color--: rgb(13,17,23);
    --secondary-color: rgb(22,27,34);
    --primary-red--: rgb(250,0,0);
    --second-red--: rgb(220, 38, 38);
    --third-red--: rgb(149,1,1);
    --fourth-red--: rgb(130,1,1);
    --transition-duration: 400ms;
}

svg {
    transition: transform var(--transition-duration);
}

body {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.5rem;
    transform: width 600ms ease;
}
::-webkit-scrollbar-track {
    background-color: var(--primary-color--);
}
::-webkit-scrollbar-thumb {
    background: var(--fourth-red--);
    border: 0.15rem solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--third-red--);
}
::-webkit-scrollbar-track-piece{
    background: var(--primary-color--);
}

#wrapper1{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

a {
    transition: var(--transition-duration);
    background-color: transparent;
}

span {
    transition: var(--transition-duration);
}

.top {
    stroke-dasharray: 40 160;
    transition: stroke-dashoffset var(--transition-duration);
}

.middle {
    transform-origin: 50%;
}

.bottom {
    stroke-dasharray: 40 85;
    transition: stroke-dashoffset var(--transition-duration);
}

.open {
    transform: rotate(45deg);
}

.open .top, .open .bottom {
    stroke-dashoffset: -64px;
}

.open .middle {
    transform: rotate(90deg)
}

#hamburger {
    color: white;
}

.current {
    position: relative;
}


a.current {
    color: var(--second-red--);
}

.nav-link {
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0 0 5px;
    border-bottom: 3px solid transparent;
    transition: opacity .4s, border-color .4s;
    line-height: 1em;
    text-align: center;
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--primary-red--);
}

#burger {
    color: white;
}