@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color--: rgb(13,17,23);
    --secondary-color: rgb(22,27,34);
    --primary-red--: rgb(250,0,0);
    --second-red--: rgb(220, 38, 38);
    --third-red--: rgb(149,1,1);
    --fourth-red--: rgb(130,1,1);
    --transition-duration: 400ms;
}

svg {
    transition: transform var(--transition-duration);
}

body {
    background-color: var(--secondary-color);
    color: white;
    margin: 0;
    padding: 0;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

#headerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 3.5em;
}

#headerlogo {
    margin: 2em 0 0;
}

#mainname {
    text-shadow: 1px 1px #000000;
}

.lint {
    position: absolute;
    width: 100%;
    height: 100%;
}

.lint-zwart {
    position: absolute;
    bottom: 41.25em;
    padding-top: 20em;
    padding-bottom: 3.5em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

.lint-rood {
    position: absolute;
    bottom: 40em;
    padding-top: 20em;
    padding-bottom: 3.5em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

::-webkit-scrollbar {
    transform: width 600ms ease;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color--);
}
::-webkit-scrollbar-thumb {
    background: var(--fourth-red--);
    border: 0.15rem solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--third-red--);
}
::-webkit-scrollbar-track-piece{
    background: var(--primary-color--);
}

#wrapper1{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

a {
    transition: var(--transition-duration);
    background-color: transparent;
}

span {
    transition: var(--transition-duration);
}

.current {
    position: relative;
}

a.current {
    color: var(--second-red--);
}

.nav-link {
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0 0 5px;
    border-bottom: 3px solid transparent;
    transition: opacity .4s, border-color .4s;
    line-height: 1em;
    text-align: center;
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--primary-red--);
}

/*Mobile menu thingies*/

#burger {
    color: white;
}

#topbun, #middleburger, #botbun {
    transition: 0.5s ease;
}

#burger:hover #topbun {
    transform: translateY(-15%);
}

#burger:hover #botbun {
    transform: translateY(15%);
}

#burger.open #topbun {
    transform: translateY(-15%);
}

#burger.open #botbun {
    transform: translateY(15%)
}

#mobmenu {
    display: none;
}

#mobmenu.open {
    display: block;
}
